.container {
    width: 800px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

#pixel-img {
    width: 300px;
    height: auto;
    border: 3px solid blue;
}

#percent-img {
    width: 50%;
    height: auto;
    border: 3px solid green;
}
